@{
    ViewBag.Title = "Xác thực email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bạn đã xác thực email thành công, vui lòng đăng nhập để sử dụng đầy đủ tiện ích của dịch vụ.
    </p>
</div>
